$color-main: #258fb8;
$color-gray01: #555555;
$color-gray02: #999999;
$color-gray03: #cccccc;
$color-gray04: #dddddd;

$font-default: 'Merriweather', Georgia, serif;
$font-sans: 'Noto Sans', Helvetica, Arial, sans-serif;
$font-mono: Menlo, Monaco, 'DejaVu Sans Mono', Consolas, monospace;
$font-icon: FontAwesome;

* {
  margin: 0;
  padding: 0;
}

body {
  border-top: 3px solid #08b5e5;
  font-family: $font-default;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background: white;
  color: $color-gray01;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

.page-wrapper {
  padding: 0 20px;
  margin: 0 auto;

  width: 720px;
  @media screen and (max-width: 766px) {
    width: auto;
  }
}


h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

a {
  text-decoration: none;
  outline-width: 0;
  color: $color-main;
}

.notfound {
  text-align: center;
}

h1.notfound {
  margin-top: 25px;
  font-size: 4em; }
p.notfound {
  margin: 35px 0 20px 0; }

.center {
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}

.left {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 15px;
  & > * { margin-top: 10px !important; }

  @media screen and (max-width: 600px) {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.right {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 15px;
  & > * { margin-top: 10px !important; }

  @media screen and (max-width: 600px) {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

// so that iOS doesn't zoom in on input
select,   textarea,   input[type="text"],   input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  font-size: 16px;
}
