#footer {
  border-top: 1px solid #efefef;
  padding: 15px 0;
  text-align: center;
  cursor: default;

  #credit {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 12px;
    color: #999;

    a {
      color: #555;
      transition: color 0.3s;

      &:hover {
        color: #222;
        text-decoration: underline;
      }
    }
  }

  #social {
    font-size: 18px;
    color: #999;

    a {
      color: $color-gray02;
      transition: color 0.3s;
      padding: 20px;

      @media screen and (max-width: 600px) {
        padding: 10px;
      }

      @media not screen and (max-width: 600px), not screen and (max-width: 766px) {
        &:hover {
          color: $color-gray01;
        }
      }
    }

    a[title="twitter"]:hover {
      color: #2eb8e7;
    }

    a[title="github"]:hover {
      color: #286da3;
    }

    a[title="stackoverflow"]:hover,
    a[title="feed"]:hover {
      color: #d85620;
    }

    a[title="email"]:hover {
      color: #f66;
    }
  }
}

