#category-title { margin-bottom: 15px; }

.archive-year {
  margin-bottom: 15px;
  font-family: $font-sans;
}

h2.archive-year:first-of-type {
  display: none;
}

.archive {
  margin-bottom: 15px;
}

.archive-item {
  border: none;

  .item-link {
    display: block;
    color: $color-gray01;

    @media not screen and (max-width: 600px), not screen and (max-width: 766px) {
      &:hover {
        .item-title {
          color: $color-main;
          text-decoration: underline;
        }
      }
    }

    .item-title {
      transition: color 0.3s;
      font-weight: normal;
    }

    .item-excerpt {
      color: #999;
      font-weight: 300;
      display: inline-block;
    }
  }
}

