#category-title { margin-bottom: 15px; }

[class^="icon-"], [class*="icon-"] {
	line-height: inherit;
	position: absolute;
	left: 0;
}

.archives{
	position: relative;
	&:last-of-type{
		&:before{
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}
	article{
    border: none;
    margin-bottom: 0 !important;
		.title{
			@media screen and (max-width: 600px){
        		font-size: 18px;
      		}
			margin-bottom: 0;
	      a{
	        color: #666;
	        display: inline-block;
	        width: 100%;
          transition: color 0.3s;

	        &:hover { color: $color-main; }
	      }
		}
    .excerpt {
      margin-top: 5px;
      color: #999;
    }
    & > .meta {
      float: left;
      line-height: 35px;
    }
		.meta{
			color: $color-gray02;
			font-size: 0.9em;
			line-height: 34px;
			@media screen and (max-width: 600px){
				display: none;
			}
			span{
        display: inline-block;
				text-transform: uppercase;
				&:before{
					color: $color-gray03;
					font: 1.3em $font-icon;
					line-height: 34px;
					position: absolute;
					left: 0;
				}
        		vertical-align: baseline;
			}
			a{
				color: $color-gray02;
        transition: color 0.3s;
				&:hover{
					color: #258FB8;
				}
			}
			.date {
				cursor: default;
				padding-left: 22px;

				i {
					font-size: 1.3em;
					color: #cccccc
				}
			}
		}
    .post-info {
      margin-left: 85px;

			@media screen and (max-width: 600px){
        margin-left: 0;
      }

      & > .meta {
        margin-top: 5px;
        .tags > .category { vertical-align: top; }
      }
    }
	}
}
