article{
	padding: 30px 0;
	position: relative;
	@media screen and (max-width: 800px){
		padding-bottom: 15px;
	}
	@media screen and (max-width: 600px){
		padding: 15px 0;
	}
	h2.title, h3.title{
		font-weight: 400;
		margin-bottom: 5px;
		a{
          color: $color-gray01;
      		display: inline-block;
      		width: 100%;

            span {
                padding-bottom: 2px;
            }

          @media not screen and (max-width: 600px), not screen and (max-width: 766px) {
            &:hover > span {
              text-decoration: underline;
            }
          }
		}
	}
	.entry-content{
		line-height: 1.5;

    @media screen and (max-width: 600px) {
      line-height: 1.6;
    }

    h1, h2, h3, h4, h5 { line-height: 2; }
		a{
      @media not screen and (max-width: 600px), not screen and (max-width: 766px) {
        &:hover{
          text-decoration: underline;
        }
      }
		}
		.more-link{
			display: block;
			margin-top: 16px;
			padding-left: 30px;
			position: relative;
			&:before{
				content: "\f061";
				font: 1.3em $font-icon;
				line-height: 1.23;
				position: absolute;
				left: 0;
			}
		}
		p, blockquote, ul, ol, dl, table, iframe, h1, h2, h3, h4, h5, h6, .video-container{
			margin-top: 10px;
		}
		ul, ol, dl{
			margin-left: 20px;
			ul, ol, dl{
				margin-top: 0;
			}
		}
		strong{
		}
		em{
			font-style: italic;
		}
		> p{
			margin-top: 10px;	
		}
		h2,h3{
			position: relative;
		}
		img, video{
			max-width: 100%;
			height: auto;
		}
		iframe{
			border: none;
		}
		table{
			border-spacing: 0;
			margin-top: 10px;
			th{
				background: $color-gray03;
				padding: 0 15px;
			}
		}
		.caption{
			display: block;
			font-size: 0.9em;
			color: $color-gray02;
			padding-left: 25px;
			position: relative;
			&:before{
				content: "\f040";
				color: $color-gray03;
				font: 1.3em $font-icon;
				line-height: 1.23;
				position: absolute;
				left: 0;
			}
		}
		.video-container{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			iframe, object, embed{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				margin-top: 0;
			}
		}
	}
}
.share{
	padding: 15px 0;
}
