.post{
  h2.title {
    a{
      color: #666;
      transition: color 0.3s;
      @media not screen and (max-width: 600px), not screen and (max-width: 766px) {
        &:hover { color: $color-main; }
      }
    }
  }

	h1.title, .entry-content{
		@media screen and (max-width: 766px){
			margin-left: 0;
		}
	}
	.meta{
		position: absolute;
		top: 85px;
		line-height: 2;
		font-size: 0.9em;
		color: $color-gray02;
		width: 230px;
    padding: 10px 0;
    border-top: 2px solid #eeeeee;
    clear: both;
    position: static;
    width: auto;

    @media not screen and (max-width: 600px), not screen and (max-width: 766px) {
      text-align: center;
      .entry-content a:hover {
        color: #258FB8;
        text-decoration: underline;
      }
    }
		@media screen and (max-width: 766px){
			position: static;
			width: auto;
		}
		a{
      color: $color-gray02;
      transition: color 0.3s;
      @media not screen and (max-width: 600px), not screen and (max-width: 766px) {
        &:hover {
          text-decoration: underline;
          color: $color-gray01;
        }
      }
		}
		.meta-component {
      display: inline-block;
      margin-right: 30px;
      @media screen and (max-width: 600px){
        display: block;
      }
      i {
        color: $color-gray03;
        margin-right: 2px;
        font-size: 1.3em;
        line-height: 1.5;
        cursor: default;

        @media not screen and (max-width: 600px){
          vertical-align: top;
        }
      }
			position: relative;
			@media screen and (max-width: 766px){
				margin-right: 30px;
			}
		}
	}
}
