<!-- disqus -->
<script async="true" type="text/javascript">
  var disqus_shortname = 'blaenkdenum';
  var disqus_identifier = 'http://blaenkdenum.com$url$';
  var disqus_url = 'http://blaenkdenum.com$url$';
  var disqus_script = 'embed.js';

  (function () {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  }());

  jQuery(function (){
    jQuery(window).bind('orientationchange', function() {
      DISQUS.reset({
        reload: true,
        config: function() {
          this.page.identifier = 'http://blaenkdenum.com$url$'
          this.page.url = 'http://blaenkdenum.com$url$'
        }
      });
    });
  });
</script>
