$max-width: 1000px;

*{
	margin: 0;
	padding: 0;
}
body{
  border-top: 3px solid #2A9AF9;
	font-family: $font-default;
	font-weight: 300;
	font-size: 16px;
  line-height: 1.625;
	background: $color-background;
	color: $color-gray01;
  -webkit-text-size-adjust: 100%;
	@media screen and (max-width: 600px){
		font-size: 13px;
	}
}
.wrapper {
  margin: 0 20px;
}
h1{
	font-size: 1.6em;
}
h2{
	font-size: 1.3em;
}
h3{
	font-size: 1.1em;
}
a{
	text-decoration: none;
	outline-width: 0;
	color: $color-main;
}
.alignleft{
	float: left;
}
.alignright{
	float: right;
}

