$max-width: 1000px;

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: $font-default;
	font-weight: 400;
	font-size: 16px;
  line-height: 26px;
	background: $color-background;
	color: $color-gray01;
  margin: 0 20px;
  -webkit-text-size-adjust: 100%;
	@media screen and (max-width: 600px){
		font-size: 13px;
	}
}
h1{
	font-size: 1.6em;
}
h2{
	font-size: 1.3em;
}
h3{
	font-size: 1.1em;
}
a{
	text-decoration: none;
	outline-width: 0;
	color: $color-main;
}
.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.inner{
	width: $max-width;
	margin: 0 auto;
	@media screen and (max-width: 766px){
		width: 100%;
	}
}

